<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<log4j:configuration>
    <appender name="CONSOLE-DEBUG" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" 
                       value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>
    
    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${catalina.home}/logs/myStruts1App.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" 
                       value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE-DEBUG"/>
    </root>
</log4j:configuration>
